<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="MyMapper">
   <!-- statement，内容：sql语句。id：唯一标识，随便写，在同一个命名空间下保持唯一
      resultType：sql语句查询结果集的封装类型,tb_user即为数据库中的表
    -->
   <select id="selectUser" parameterType="int" resultMap="usersMap">
      select * from users where id = #{id}
   </select>
   
	<resultMap type="com.hena.microblog.user.domain.entity.Users" id="usersMap">  
        <!-- 通过id元素映射主键类型 -->  
        <id column="id" property="id" />  
        <!-- 通过result元素映射非主键类型 -->  
        <result column="user_name" property="userName"/>  
        <result column="pass_word" property="passWord"/>  
        <!-- 当字段名和属性名一致是，可写可不写 -->  
        <result column="create_time" property="createTime"/>  
        <result column="update_time" property="updateTime"/>  
    </resultMap>  
</mapper>